alphapose
alphapose-a
alphapose-older
AlphaPose-master
data
model_weights
new_venv
venv
output
output (copy)
results
yolov5_master
drown_detector_fake.py
ip_camera_test.py
main.py
mp_test.py
other.py
segmnetation_test.py
test.py
yolov5s.pt
.idea
scratch